<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Woody's Tuesday Night Trivia</title>
        <link href="/styles/chat_styles.css" rel="stylesheet" type="text/css"/>
        <link href="/styles/nav_styles.css" rel="stylesheet" type="text/css"/>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
        <style>
            .general_chat {
                background: none!important;
                border: none;
                padding: 0!important;
                font-family: 'Comic Sans', cursive;
                font-size: 1.05em;
                /*optional
                font-family: arial, sans-serif;
                input has OS specific font-family*/
                color: white;
                text-decoration: none;
                cursor: pointer;
            }
            .title, .nav {
                top: 50vh;
            }

        </style>
    </head>
<body onload="hideChat();">
    <main>
        <div class="area">
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div> 
        <div id="chat_area">
            <div class="menu" onmouseover="hide_title();" onmouseleave="show_title();">
                <div class="title">&laquo;</div>
                <ul class="nav">
                    <li>
                        <form class="chat" method="post" action="/general_chat" target="_blank">  
                            <button class="general_chat" type="submit">Join General Chat</button>
                            <input type="hidden" name="userName" value="<%= userName %>"/>
                        </form>
                    </li>
                </ul>
            </div>            
            <h1><%= triviaTeam %></h1>
            <button type="submit" id="join">Join</button>
        <div id="team_chat">
            <div id="chat-window">
                <div id="output">
                </div>
            </div>
            <div id="chat_foot">
                <input type="text" id="message" placeholder="Message"/>
                <button type="submit" id="send">Send</button>
            </div>
        </div>
        </div>        
    </main>
    <script>
        const socket = io.connect();
        const team_chat = document.getElementById('team_chat');
        const chat_window = document.getElementById('chat-window');
        const output = document.getElementById('output');
        const message = document.getElementById('message');
        const join = document.getElementById('join');
        const send = document.getElementById('send');
        const general_chat = document.querySelector('.general_chat');
        const chat = document.querySelector('.chat');
        const title = document.querySelector('.title');

        const hideChat = () => {
            team_chat.style.display = 'none';
        }

        const joinChat = () => {
            socket.emit('joinChat', {
                team: '<%= triviaTeam %>',
                handle: '<%= userName %>'
            });

            join.style.display = 'none';
            team_chat.style.display = 'inline-block';
        };

        const sendMsg = () => {
            //object will contain msg and handle
            socket.emit('chat', {
                message: message.value,
                team: '<%= triviaTeam %>',
                handle: '<%= userName %>'
            });

            message.value = '';
        };

        socket.on('joinChat', (data) => {
            let rgx = /<button|<select|<form|<map|<table|<textarea|<input|<video|<ol|<ul|<script|<iframe|<img/gi;
            for(let x of data){
                let msg = x.replace(rgx, '');
                output.innerHTML += `<p>${msg}</p>`;
                /*
                let para = document.createElement('p');
                let txt = document.createTextNode(x);
                para.appendChild(txt);
                output.appendChild(para);
                */
            }
        });
        //listen for chat from server
        socket.on('chat', (data) => {
            let rgx = /<button|<select|<form|<map|<table|<textarea|<input|<video|<ol|<ul|<script|<iframe|<img/gi;
            let newMsg = data.message.replace(rgx, '');
            output.innerHTML += `<p><strong>${data.handle}:</strong> ${newMsg}</p>`; 
            /*
            let para = document.createElement('p');
            let handle = document.createTextNode(data.handle).style.fontWeight = 'bold';
            let msg = document.createTextNode(data.message);
            let message = document.createTextNode(`${handle}: ${msg}`);
            para.appendChild(message); 
            */
        });

        const open_chat = async(e) => {
                e.preventDefault();
                window.open('/general_chat', '_blank');
            };

        const hide_title = () => {
            title.style.display = 'none';
            //title.classList.toggle('toggle');
        };
        const show_title = () => {
            title.style.display = 'block';
        };

        join.addEventListener('click', joinChat);
        send.addEventListener('click', sendMsg);
        //general_chat.addEventListener('click', open_chat);
        window.addEventListener('keydown', (e) => {
            e.which === 13 ? sendMsg() : -1;
        });

    </script>

</body>
</html>