<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Woody's Tuesday Night Trivia</title>
        <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
        <link href="/styles/final_wager_styles.css" rel="stylesheet" type="text/css"/>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    </head>
    <body>
        <main>
            <section>
                <% if (login_error) { %>
                    <div class="error"> <%= login_error %> </div>
                <% } %> 
                <h1 class="final_q">
                    Final Question
                </h1>
                <h1>Team: <%= team %></h1>
                <h1>Scores: </h1>
                <div class="scoreboard">                                      
                </div>
                <br>
                <form id="final_bet" method="POST" action="/final_bet">
                    <label for="bet">How much would you like to bet?</label>
                    <input type="number" id="bet" name="bet" min="1" max="<%= teamScore %>" required/>
                    <input type="hidden" name="team" value="<%= team %>"/> 
                    <button id="betSumbit" type="submit">Submit</button>
                </form>
            </section>
        </main>
        <script>
            const scoreboard = document.querySelector('.scoreboard');
            const final_bet = document.getElementById('final_bet');  
            const bet = document.getElementById('bet');
            const betSubmit = document.getElementById('betSubmit');
            let teamNames = '<%= teamNames %>'.split(',');
            let teamTotals = '<%= teamTotals %>'.split(',');
            let markup = '';

            let arr = [];

            let team = {
                name: '',
                score: 0
            }
            
            for(let i=0; i<teamNames.length; i++){
               // markup += `<li style="list-style: none;">${teamNames[i]}: ${teamTotals[i]}</li>`;
                let newTeam = Object.assign({}, team, {name: `${teamNames[i]}`, score: `${teamTotals[i]}`});
                arr.push(newTeam);
            }

            let newArr = arr.sort((a, b) => (Number(a.score) < Number(b.score)) ? 1: -1);

            for(let x of newArr){
                markup += `<li style="list-style: none;">${x.name}: ${x.score}</li>`;
            }

            scoreboard.insertAdjacentHTML('afterbegin', markup);

        </script>
    </body>
</html>