<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Woody's Tuesday Night Trivia</title>
        <link href="/styles/index_styles.css" rel="stylesheet" type="text/css"/>
        <link href="/styles/nav_styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <main>
            <!--if typeOfUser = captain, show submit, else don't-->
            <% if (login_error) { %>
                <div class="error"> <%= login_error %> </div>
            <% } %> 

            <% if (already_answered) {%>
                <div class="error"> <%= already_answered %> </div>    
            <% } %>
    <div class="menu" onmouseover="hide_title();" onmouseleave="show_title();">
        <div class="title">&laquo;</div>
        <ul class="nav">
            <li><a href="#" onclick="open_chat();">Open Chat</a></li>
            <li><a class="get_score" href="#" onclick="open_score();">Check Scores</a></li>
            <li>
               <form class="logout_form" method="get">
                    <button class="logout_btn" type="submit">Logout</button>
               </form>
            </li>
        </ul>
    </div>  
        <section class="question">
            <div class="question_content">
                <h1> <%= team %> </h1>
                <h2 class="question_number"> Question <%= question_num %></h2>
                <h3 class="question_body"> <%= questions.q %> </h3>
            </div>            
            <form method="post" action="/get_answer">
            <div class="question_form">
                <div class="row1"><input id="choice1" type="radio" name="answer" value="a" required/><label for="choice1" id="option1"><%= questions.option1 %></label></div>
                <div class="row2"><input id="choice2" type="radio" name="answer" value="b"/><label for="choice2" id="option2"><%= questions.option2 %></label></div>
                <div class="row3"><input id="choice3" type="radio" name="answer" value="c"/><label for="choice3" id="option3"><%= questions.option3 %></label></div>
                <div class="row4"><input id="choice4" type="radio" name="answer" value="d"/><label for="choice4" id="option4"><%= questions.option4 %></label></div>
            </div>
            <div class="form_foot">    
                <label for="confidence">Confidence</label>
                <select name="confidence" id="confidence" required>
                    <option value="" selected></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select> 
                <input type="hidden" name="teamName" value="<%= team %>"/> <input type="hidden" name="userType" value="<%= typeOfUser %>" /> &nbsp; 
                <input type="hidden" name="question_num" value="<%= question_num %>"/>
                <input class="sub" type="submit" value="Submit"/>
            </div>
            </form>    
            <div class="player_btn"></div>
        </section>
    </main>    
        
        <script>

        const sub = document.querySelector('.sub');
        const question_body = document.querySelector('.question_body');
        const radios = document.querySelectorAll('input[type="radio"]');
        const confidence = document.getElementById('confidence');
        const choice1 = document.getElementById('choice1');
        const choice2 = document.getElementById('choice2');
        const choice3 = document.getElementById('choice3');
        const choice4 = document.getElementById('choice4');
        const option1 = document.getElementById('option1');
        const option2 = document.getElementById('option2');
        const player_btn = document.querySelector('.player_btn');
        const logout_btn = document.querySelector('.logout_btn');
        const logoutForm = document.querySelector('.logout_form');
        const chat = document.querySelector('.chat');
        const get_score = document.querySelector('.get_score');
        const menu = document.querySelector('.menu');
        const title = document.querySelector('.title');

        const changeBG = () => {
            let userChoice = localStorage.getItem('userBG') ;
            if(userChoice == 'space'){
                document.body.style.cssText = "background-image: url('/space.jpg'); color: white";
            }
            else if(userChoice == 'desert'){
                document.body.style.cssText = "background-image: url('/desert.jpg'); color: white";
            }
            else if(userChoice == 'autumn'){
                document.body.style.cssText = "background-image: url('/autumn.png'); color: white";
            }
            else if(userChoice == 'tropical'){
                document.body.style.cssText = "background-image: url('/tropical.jpg'); color: white";
            }
            else if(userChoice == 'forest'){
                document.body.style.cssText = "background-image: url('/forest.jpg'); color: white";
            }
            else if(userChoice == 'city'){
                document.body.style.cssText = "background-image: url('/city.jpg'); color: white";
            }
            else {
                document.body.style.cssText = "background-color: papayawhip; color: white";
            }
        };

        localStorage.setItem("user", "<%= typeOfUser %>");
        localStorage.setItem("team", "<%= team %>");

            const hideSubmit = (typeOfUser, e) => {

                if(typeOfUser == 'player' || localStorage.getItem('user') == 'player'){ 
                    //sub.style.display = 'none';
                    console.log(e);
                }
            };
            /*
            const nextQuestion = () => {
                const markup = `<button onclick='/trivia'>Next Question</button>`;
                player_btn.insertAdjacentHTML('afterbegin', markup);
            }
        */
            hideSubmit("<%= typeOfUser %>");

            const trueFalse = () => {
                //question_body.forEach((q, i=0) => {
                    if(question_body.innerText.includes('T/F') || question_body.innerText.includes('t/f')){
                        choice1.value = 't';
                        choice2.value = 'f';
                        choice3.style.display = 'none';
                        choice4.style.display = 'none';
                        option1.innerText = 'True';
                        option2.innerText = 'False';
                    }
            };

            trueFalse();

            const logout = async(e) => {
                const logout = confirm('Are you sure you\'d like to logout? If you logout, you won\'t be able to login again during this current trivia session.');

                if(logout){
                    logoutForm.action = "/";
                   await fetch('/logout');
                }
                else {
                    e.preventDefault();
                }
            };

            const open_chat = async(e) => {
                window.open('/chat', '_blank');
            };

            const open_score = async(e) => {
                window.open('/scores', '_blank');
            }
            const hide_title = () => {
                title.style.display = 'none';
                //title.classList.toggle('toggle');
            };
            const show_title = () => {
                title.style.display = 'block';
            };

            window.addEventListener('load', changeBG());
            logout_btn.addEventListener('click', logout);

        </script>

    </body>
</html>
